# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
.next*
/open-next/
/out/

# backup dirs
node_modules.bak.*

# workbuddy internal
/.workbuddy/

# test files
test_proxy.jpg

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# supabase
/supabase/.branches
/supabase/.temp

# typescript
*.tsbuildinfo
next-env.d.ts
